body {
    background-color: black;
  
}

h2 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb( 136, 22, 216);
    text-shadow: 0.1px white;
    font-style: italic;
}

h3 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: space-between; ;
    margin: auto;
    padding: 5px;

    color: yellow;
    margin-top: 10px;
        /* border-radius: 10%; */
    /* border: groove rgb(84, 19, 138) 5px;  */

}

.center-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;

}

.shuffle {
    border-radius: 50%;
    padding-top: 34px;
    font-size: 20px;
    background-image: url('./images/open.png');
    width: 100px;
    height: 100px;
    margin: 50px 50px 0 20px;
    border : groove yellow 5px; 
}


.placard {
    border-radius: 20%;
    padding-top: 40px;
    font-size: 20px;
    background-image: url('./images/open.png');
    /* background-color: white; */
    width: 150px;
    height: 150px;
    /* margin: auto; */
    margin: 0px 50px 0 20px;
    border : groove yellow 5px; 


}


.lives {
    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    /* background-color: rgba(229, 103, 47); */
    background-image: url('./images/open.png');
    width: 100px;
    height: 100px;
    /* margin: auto; */    
    margin: 50px 50px 0 20px;
    border : groove yellow 5px; 
}

h2 {
    font-size: 18px;
    text-align: center;
}

.top {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 200px;
}

.first-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}

.second-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}

.third-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}

.fourth-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}


#over{
    display: flex;
    justify-content: center;    
} 



#open {
    display: flex;
    justify-content: center;
    height: 100px;

}

#game {
    background-image: url('https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1123&q=80');
    background-size: cover;
    display: none;
}

#over {
    display: none;
    justify-content: center;
    align-self: center;
    margin-top: 0;
    background-size: cover;
}






