body {
  
    background-image: url('https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1123&q=80');
    background-size: center;
}



h2 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: rgb( 136, 22, 216)
}




.center-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.shuffle {
    border-radius: 50%;
    padding-top: 34px;
    font-size: 20px;
    background-color: rgba(229, 103, 47);
    background-color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    border : solid white 1px; 
    /* background-image: url('images/star.png'); */
}

.placard {
    border-radius: 20%;
    padding-top: 40px;
    font-size: 20px;
    background-color: rgba(229, 103, 47);
    background-color: white;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
    /* background-image: url('images/star.png'); */
}



.lives {

    border-radius: 50%;
    text-align: center;
    padding-top: 30px;
    /* background-color: rgba(229, 103, 47); */
    background-color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    border : solid white 1px;

}

h2 {
    font-size: 18px;
    text-align: center;
}

.top {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 150px;
    height: 200px;
}

.first-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}

.second-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}

.third-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}

.fourth-card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: auto;
    width: 150px;
    height: 200px;
}



#over{
    display: flex;
    justify-content: center;
    height: 600%;

}

.player {
    display: flex;
    justify-content: center;
    margin: auto;

}







